@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Montserrat', 'Playfair Display', serif;
}